*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
    /* overflow: hidden; */
}

.container {
    width: 100%;
    height: 100%;
    /* option 1 Css smooth scroll */
    /* overflow-y: scroll; */
    /* scroll-behavior: smooth; */
    /* scroll-snap-type: y mandatory; */
}

.lead {
    font-size: 1.5rem;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.7)
}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.navbar ul li a:hover {
    color: skyblue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* scroll-snap-align: center; */
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

/* Section Images */
section#cactus {
    background: url('kaktus1.png') no-repeat center center/cover;
}
  
section#info {
    background-color: green;
}

section#care {
    background-color: beige;
}

section#buy {
    background-color: green;
}

.test {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.test > div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

@media screen and (max-width: 600px) {

    section#about {
        background: url('kaktus1.png') no-repeat center center/cover;
    }

    section#about > h1 {
        background-color: rgba(255, 255, 255, 0.5);
    }

    section#about > p {
        background-color: rgba(255, 255, 255, 0.5);
    }
}
  
section#service {
    background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;
  }
  
section#contact {
    background: url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;
  }