*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    /* background-color: #5F6B57; */
    color: #fff;
    line-height: 1.6;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background: rgba(127, 143, 116, 0.582);
    box-shadow: 0px 1px rgb(114, 129, 104);
    padding: 0 5%;
}

.navbar ul{
    display: flex;
    list-style: none;
    /* width: 100%; */
    justify-content: center;
}

.navbar ul li {
    margin: 0 1px;
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar a:hover {
    color: #414b3a;
    /* text-decoration: underline; */
    /* text-shadow: 0px 1px; */
}

.logo {
    height: 35px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* scroll-snap-align: center; */
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

/* Section Images */
section#cactus {
    background: url('img/kaktus4.png') no-repeat center center/cover;
}

section#cactus .textWrapper {
    position: absolute;
    bottom: 0;
    background: rgba(95, 107, 87, 0.452);
    padding: 0 20px 25px 20px;
}

section#cactus .textWrapper p {
    font-size: 14px; 
}
  
section#info {
    background-color: #fff;
    justify-content: space-around;
    color: #5F6B57;
    height: 160vh;
}

section#info div div div p {
    margin: 0 0 0 1%;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0px 20px;
}

.flexContainer p {
    margin-top: 5%;
    font-size: 16px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150vh;
    width: 80vw;
    margin: 15% 0 0 0;
}

.infoImage {
    width: 115px;
}

section#care {
    background-color: rgb(230, 225, 212);
    color: rgb(58, 31, 6);
    text-align: left;
}

.careBox {
    width: 100%;
    height: 100vh;
    margin-top: 20%;
    margin-bottom:15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.careItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.careItem p {
    font-size: 14px;
    padding: 0 0 0 30px;
}

section#buy {
    background-color: #fff;
    color: #5F6B57;
    height: 300vh;
    display: flex;
    flex-direction: column;
}

.buyCactusBox {
    width: 100%;
    height: 100vh;
    padding-top: 20%;
    flex-direction: column;
}

.buyImage {
    width: 175px;
}

.buyCactusBox h1 {
    margin-bottom: 5%;
}

.buyCactusBox p {
    margin-top: 5%;
    font-size: 16px;
}

.buyCactusBox button {
    margin-top: 10%;
    background-color: white;
    color: #5F6B57;
    width: 60%;
    height: 30px;
    border: solid 1px #5F6B57;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms ease;
}

.buyCactusBox button:hover {
    border-radius: 15px;
    box-shadow: 4px 4px 0px #5F6B57;
  }


footer {
    /* background-color: #5F6B57; */
    background-color: rgb(230, 225, 212);
    color: rgb(58, 31, 6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 20vh;
}

footer p {
    font-size: 11px;
    width: 50%;
}


/* Media Queries */
@media screen and (min-width: 800px) {

    .navbar ul li {
        margin: 0 1px;
        padding: 0 0 0 40px;
    }

    section#cactus .textWrapper {
        width: 45vw;
        position: absolute;
        align-self: center;
        top: 50%;
    }

    section#info {
        height: 100vh;
    }

    .flexContainer {
        max-width: 375px;
        height: 50vh;
        padding-top: 0px;
    }

    .infoWrapper {
        width: 100vw;
        height: 100vh;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .careItem {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 120px;
    }
    
    .careItem p {
        font-size: 14px;
        padding: 0 0 0 50px;
    }

    section#buy {
        height: 100vh;
        flex-direction: row;
        justify-content: space-around;
    }

    .buyCactusBox {
        max-width: 375px;
        height: 100vh;
        padding-top: 50px;
    }

    .buyCactusBox h1 {
        margin-bottom: 5%;
        margin-top: 15%;
        font-size: 35px;
    }
    
    .buyCactusBox p {
        margin-top: 5%;
        font-size: 16px;
    }
}

@media screen and (min-width: 1000px) {
    section#cactus .textWrapper {
        height: 46vh;
        width: 40vw;
    }

    .infoWrapper {
        height: 100vh;
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .flexContainer {
        width: 100%;
        height: 100vh;
    }

    .careBox {
        width: 60%;
    }

    .careItem {
        padding: 15px 180px;
    }
    
    .careItem p {
        font-size: 16px;
    }

    section#buy {
        height: 100vh;
        display: flex;
        flex-direction: row;
    }
    
    .buyCactusBox {
        width: 100%;
        height: 100vh;
        padding-top: 100px;
    }
    .buyCactusBox h1 {
        margin-bottom: 5%;
        margin-top: 10%;
        font-size: 35px;
    }
    
    .buyCactusBox p {
        margin-top: 5%;
        font-size: 16px;
    }

}

@media screen and (min-width: 1400px) {
    section#cactus .textWrapper {
        height: 35vh;
        width: 40vw;
    }
}